/* frontend/src/objet/GridBackground.css */
.grid-background {
    position: relative;
    width: 100%;
    height: 100%;
    background:
      linear-gradient(to right, #1d1d1d 1px, transparent 1px) repeat,
      linear-gradient(to bottom, #1d1d1d 1px, transparent 1px) repeat,
      linear-gradient(to right, #1d1d1d 3px, transparent 3px) repeat,
      linear-gradient(to bottom, #1d1d1d 3px, transparent 3px) repeat;
    background-size: var(--grid-size) var(--grid-size), var(--grid-size) var(--grid-size),
                     calc(var(--grid-size) * 10) calc(var(--grid-size) * 10), calc(var(--grid-size) * 10) calc(var(--grid-size) * 10);
  }